div
  .title
    h2 Sign In

    .error-message(v-if='signInFormInvalid')
      p {{ signInFormInvalidMessage }}

  .main
    .form
      v-container
        v-form
          v-row
            v-text-field(label='Email'
              type='email'
              v-model='signInInput.email'
              :error-messages='emailErrors'
              required)

          v-row
            v-text-field(label='Password'
              type='password'
              v-model='signInInput.password'
              :error-messages='passwordErrors'
              :append-icon='passwordIcon'
              :type='passwordType'
              @click:append='passwordToggle'
              required)

    .btn
      v-container
        v-row
          v-btn(large
            block
            color='green darken-1'
            :dark='!submitLoading'
            :loading='submitLoading'
            :disabled='submitLoading'
            @click='signIn')
            | Sign In

    .sign-up
      v-container
        v-row
          v-col
            p.my-2
              | Don't have an account?

            n-link(to='/users/signup')
              v-btn(text small rounded)
                | Let's sign up
